@import url("./style2.css");

form{
    padding: 40px;
    background-color: mediumaquamarine;
}
fieldset{
    border-radius: 30px;
    border:2px solid black;
    padding:30px;
    background-color: bisque;
}